// essential imports
@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "intro.js/introjs.css";

// bootstrap lacks a cursor-pointer class
.pointer {
  cursor: pointer;
}

// global styles
button {
  @extend .btn;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: hsl(0, 0%, 95%);
}

::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 75%);
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 0%, 45%);
}