@import "./global.scss";

.group-page {
  header {
    @extend .fs-2, .mb-3, .bg-success-subtle, .p-3, .d-flex, .justify-content-between, .rounded;

    >div {
      @extend .d-flex, .gap-4, .align-items-center;
    }
  }

  article {
    @extend .d-flex, .justify-content-between, .p-2, .bg-light, .rounded, .mb-3;

    div {
      @extend .d-flex, .align-items-center, .gap-2;

      >* {
        @extend .m-0;
      }
    }

    input.completeCheck {
      @extend .form-check-input;
    }

    label[for="completeCheck"] {
      @extend .form-check-label;
    }


    dialog {
      position: absolute;
      left: calc(100vw - 300px - 1.5rem) !important;
      right: 1.5rem;
      width: 300px;
    }

    dialog.details button {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  // color-coded priority border
  article.priority-high {
    border-left: 5px solid red;
  }

  article.priority-medium {
    border-left: 5px solid orange;
  }

  article.priority-low {
    border-left: 5px solid green;
  }

  article.overdue {
    background: linear-gradient(45deg, #c4a48f 0%, #d3bcac 30%, #dfc8b9 70%, #c9ac98 100%);
  }

  // add to-do form
  form.to-do-form {
    div {
      @extend .d-flex, .align-items-center, .mb-3;
    }

    div:not(.priority-group) {
      @extend .gap-3;
    }

    input {
      @extend .form-control;
    }

    .submit-group {
      @extend .d-flex, .justify-content-center;

      button[type="submit"] {
        @extend .bg-success;
      }

      button:last-child {
        @extend .bg-danger;
      }
    }
  }
}